{% extends "home_default/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your upcoming trip to {{ usertrip_instance.trip.destination_city }}, {{usertrip_instance.trip.destination_country}}</h2>
        </div>
    </div>
    {% if user_qs %}
        <h4>Users visiting at the same time as you</h4>
        {% for u in user_qs %}
            <div class="row">
                <div class="col">
                    <p>{{ u.first_name }} {{ u.last_name|first }}.</p>
                    <p>Bio: {{ u.userprofile.bio }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>Users visiting at the same time as you</h4>
        <div class="row">
            <div class="col">
                <p>No matches found for this date range</p>
            </div>
        </div>
    {% endif %}
</div>


{% endblock content %}