asgiref==3.7.2
black==23.9.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
coverage==6.5.0
coveralls==3.3.1
Django==4.2.6
docopt==0.6.2
flake8==6.1.0
idna==3.4
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.6
