{% extends 'home_default/form_base.html' %}
{% load crispy_forms_tags %}
{% block form %}
<div class="row">
    <h4 class="fw-normal" style="color: #A1A1B9">Log In</h4>
</div>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form|crispy }}
    </fieldset>
    <br>
    <button class="btn btn-outline-success" type="submit">Login</button>
</form>
<br>
<small>
    Need an Account?
    <a href="{% url 'user_profile:register_account' %}">Sign Up</a>
</small>
<br>
<small>
    Forgot Password?
    <a href="{% url 'user_profile:reset_password' %}">Forgot Password</a>
</small>
    <br>
{% endblock form %}