{% extends 'home_default/form_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block form %}
<div class="row">
    <h4 style="color: #A1A1B9">Forgot your Password?</h4>
    <p style="color: #A1A1B9">Enter your registered email address below, and we'll send you instructions for setting a new one.</p>
</div>
<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <br>
    <input class="btn btn-outline-success" type="submit" value="Send Email">
</form>
{% endblock form %}