{% extends 'home_default/form_base.html' %}
{% load crispy_forms_tags %}
{% block form %}
<div class="row mb-3">
    <h4 style="color: #A1A1B9">Upload Your Profile Images</h4>
    <small>Please note: SoloConnect prefers square images to maintain your aspect ratio</small>
</div>
<form method="POST" enctype="multipart/form-data" style="color: #A1A1B9">
    {% csrf_token %}
    {{ image_formset.management_form }}
    {% for form in image_formset %}
        <h5 class=>Upload Image {{ forloop.counter }}</h5>
        {{ form | crispy }}
        <hr>
    {% endfor %}
    <input class="btn btn-outline-success" type="submit" value="Submit"/>
</form>
{% endblock form %}