{%  extends 'home_default/base.html' %}
{% load up_extras %}
{% block content %}

<div class="container">

    {% if images %}
        <div id="userPicsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% get_by_index images 0 as first_image %}
                    <img src="{{ first_image.get_absolute_url }}" alt="image">
                </div>
                {% for i in qs_range %}
                {% get_by_index images i as curr_image %}
                <div class="carousel-item">
                    <img src="{{ curr_image.get_absolute_url }}" alt="image">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#userPicsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#userPicsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        </div>
    {% endif %}
    <div class="row align-items-center" id="userProfileHeadingRow-1">
        <div class="col-6">
            <p class="font-weight-bolder">User Profile</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-1">
        <div class="col-3">
            <p class="font-weight-bold">Email</p>
            <p class="font-weight-normal">{{ email }}</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">University</p>
            <p class="font-weight-normal">{{ university }}</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileHeadingRow-2">
        <div class="col-6">
            <p class="font-weight-bolder">Matching Preferences</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-2">
        <div class="col-3">
            <p class="font-weight-bold">Age Range</p>
            <p class="font-weight-normal">[{{ age_lower }}, {{ age_upper }}]</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">Verified Profiles Only?</p>
            <p class="font-weight-normal">{{ verified_prof }}</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-3">
        <div class="col-3">
            <p class="font-weight-bold">Drinking Preference</p>
            <p class="font-weight-normal">{{ drink_pref }}</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">Smoking Preference</p>
            <p class="font-weight-normal">{{ smoke_pref }}</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-4">
        <div class="col-3">
            <p class="font-weight-bold">Education Level</p>
            <p class="font-weight-normal">{{ edu_level }}</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">Interests</p>
            <p class="font-weight-normal">[{{ interests }}]</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-5">
        <div class="col-3">
            <p class="font-weight-bold">Languages</p>
            <p class="font-weight-normal">[{{ languages }}]</p>
        </div>
    </div>
    <div class="row align-left">
      <a href="{% url 'user_profile:edit_profile' %}">
          <button type="button" class="btn btn-success btn-rounded">
              <i class='fas fa-edit' style='font-size:20px'></i>  Edit Profile
          </button>
      </a>
      <br>
      <br>
      <a href="{% url 'user_profile:upload_images' %}">
          <button type="button" class="btn btn-success btn-rounded">
              <i class="fas fa-edit" style="font-size:20px"></i> Upload Images
          </button>
      </a>
      <br>
      <br>
      <a href="{% url 'user_profile:milestone_profile' %}">
        <button type="button" class="btn btn-danger btn-secondary btn-rounded">
             <i class='fa fa-trash' style='font-size:20px'></i>  Delete profile
        </button>
      </a>
      <br>
      <br>
      <a href="{% url 'user_profile:detail_profile' id=request.user.id %}">
          <button type="button" class="btn btn-info btn-rounded">
              <i class="fa fa-info" style="font-size:20px"></i> View Public Profile
          </button>
      </a>
      <br>
      <br>
      <a href="{% url 'trip:view_trips' %}">
          <button type="button" class="btn btn-info btn-rounded">
              <i class="fa fa-info" style="font-size:20px"></i> View Planned Trips
          </button>
      </a>

    </div>
</div>
{% endblock content %}