{%  extends 'home_default/base.html' %}
{% load up_extras %}
{% block content %}
<div class="container bg-dark-subtle mt-5">
    <div class="row align-items-center" id="carouselRow">
        <div class="col-6">
            <div id="userPicsCarousel" class="carousel-slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <!-- Put a variable range in context where range = (1, len(images_qs)) -->
                    <li data-target="#userPicsCarousel" data-slide-to="0" class="active"></li>
                    {% for i in range %}
                        <li data-target="#userPicsCarousel" data-slide-to="{{ i }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item-active">
                        {% get_by_index images 0 as activeImage %}
                        <img class="d-block h-25 h-50" src="{{ activeImage.get_absolute_url }}" alt="slide">
                    </div>
                    {% for i in range %}
                        <div class="carousel-item">
                            {% get_by_index images i as currImage %}
                            <img class="d-block h-50 w-75" src="{{ currImage.get_absolute_url }}" alt="slide">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#userPicsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#userPicsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileHeadingRow-1">
        <div class="col-6">
            <p class="font-weight-bolder">User Profile</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-1">
        <div class="col-3">
            <p class="font-weight-bold">Email</p>
            <p class="font-weight-normal">{{ email }}</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">University</p>
            <p class="font-weight-normal">{{ university }}</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileHeadingRow-2">
        <div class="col-6">
            <p class="font-weight-bolder">Matching Preferences</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-2">
        <div class="col-3">
            <p class="font-weight-bold">Age Range</p>
            <p class="font-weight-normal">[{{ age_lower }}, {{ age_upper }}]</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">Verified Profiles Only?</p>
            <p class="font-weight-normal">{{ verified_prof }}</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-3">
        <div class="col-3">
            <p class="font-weight-bold">Drinking Preference</p>
            <p class="font-weight-normal">{{ drink_pref }}</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">Smoking Preference</p>
            <p class="font-weight-normal">{{ smoke_pref }}</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-4">
        <div class="col-3">
            <p class="font-weight-bold">Education Level</p>
            <p class="font-weight-normal">{{ edu_level }}</p>
        </div>
        <div class="col-3">
            <p class="font-weight-bold">Interests</p>
            <p class="font-weight-normal">[{{ interests }}]</p>
        </div>
    </div>
    <div class="row align-items-center" id="userProfileContentRow-5">
        <div class="col-3">
            <p class="font-weight-bold">Languages</p>
            <p class="font-weight-normal">[{{ languages }}]</p>
        </div>
    </div>
    <div class="row align-left">
      <a href="{% url 'user_profile:edit_profile' %}">
          <button type="button" class="btn btn-success btn-rounded">
              <i class='fas fa-edit' style='font-size:20px'></i>  Edit Profile
          </button>
      </a>
      <br>
      <br>
      <a href="{% url 'user_profile:upload_images' %}">
          <button type="button" class="btn btn-success btn-rounded">
              <i class="fas fa-edit" style="font-size:20px"></i> Upload Images
          </button>
      </a>
      <br>
      <br>
      <a href="{% url 'user_profile:milestone_profile' %}">
        <button type="button" class="btn btn-danger btn-secondary btn-rounded">
             <i class='fa fa-trash' style='font-size:20px'></i>  Delete profile
        </button>
      </a>
      <br>
      <br>
      <a href="{% url 'user_profile:detail_profile' id=request.user.id %}">
          <button type="button" class="btn btn-info btn-rounded">
              <i class="fa fa-info" style="font-size:20px"></i> View Public Profile
          </button>
      </a>
      <br>
      <br>
      <a href="{% url 'trip:view_trips' %}">
          <button type="button" class="btn btn-info btn-rounded">
              <i class="fa fa-info" style="font-size:20px"></i> View Planned Trips
          </button>
      </a>

    </div>
</div>
{% endblock content %}