{%  extends 'home_default/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/user_profile_page.css' %}">
<header>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <section class="vh-100" style="background-color: #dbe5ef;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5> {{ first_name }} {{ last_name }} </h5>
              <p>{{ bio }}</p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>University</h6>
                    <p class="text-muted"> {{ university }} </p>
                  </div>
                </div>
                <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                      <a href="{% url 'user_profile:edit_profile' %}">
                          <button type="button" class="btn btn-success btn-rounded">
                              <i class='fas fa-edit' style='font-size:20px'></i>  Edit Profile</button>
                      </a>
                      <br>
                      <br>
                      <a href="{% url 'user_profile:milestone_profile' %}">
                        <button type="button" class="btn btn-danger btn-secondary btn-rounded">
                             <i class='fa fa-trash' style='font-size:20px'></i>  Delete profile</button>
                      </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</header>
{% endblock content %}
