{% extends 'home_default/base.html' %}
{% load static %}
{% load user_profile_custom_tags %}
{% block content %}

<style>
    a.nav-link {
        color: gray;
        font-size: 18px;
        padding: 0;
    }
    .chat-col-log {
        background-color: #eef1ff;

    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #e84118;
        padding: 2px;
        flex: none;
        overflow: hidden;
    }

    input:focus {
        outline: 0px !important;
        box-shadow: none !important;
    }

    .card-text {
        width: auto;
        border: 3px solid #4d4d4d;
        border-radius: 8px;
    }
    .sent-to-client {
    justify-content: flex-start;
    align-items: baseline;
    }

    .sent-by-client {
    justify-content: flex-end;
    align-items: baseline;
    }
</style>

<div class="container mt-6">
    <div class="row" id="outermost-row">
        <div class="col-2 bg-dark-subtle" id="threads-col-outer">
            <div class="row" id="threads-row-header">
                <div class="col bg-body-tertiary" id="threads-col-header">
                    <h3>Chat With</h3>
                </div>
            </div>
            <div class="row" id="threads-objects-list">
                <div class="col" id="threads-objects-list-col">
                    {% for thread in threads %}
                    <div class="row" id="individual-thread-row_{{ request.user.id }}_{{ forloop.counter }}">
                        {% if thread.first_user == request.user %}
                        <a href="{% url 'chat:messages_page' thread_id=thread.id other_user_id=thread.second_user.id %}"
                           class="chat-logs-links" id="chat_link_{{ thread.id }}">
                            {{ thread.second_user.first_name }} {{ thread.second_user.last_name|slice:":1" }}.
                        </a>
                        {% else %}
                        <a href="{% url 'chat:messages_page' thread_id=thread.id other_user_id=thread.first_user.id %}"
                           class="chat-logs-links" id="chat_link_{{ thread.id }}">
                            {{ thread.first_user.first_name }} {{ thread.first_user.last_name|slice:":1" }}.
                        </a>
                        {% endif %}
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-10 bg-body-secondary" id="chat-col-outer">
            <div class="row" id="chat-row-header">
                <div class="col bg-success-subtle" id="chat-col-header">
                    <p>{{ chat_data.other_user_instance.first_name }} {{ chat_data.other_user_instance.last_name|slice:":1" }}.</p>
                </div>
            </div>
            <div class="row" id="chat-row-log">
                <div class="col bs-primary-bg-subtle" id="chat-col-log">
                    <div id="chat-log">
                        {% for curr_message in message_history %}
                            {% if curr_message.sending_user == request.user %}
                                {% if curr_message.thread.first_user == curr_message.sending_user %}
                                    <div class="d-flex sent-by-client">
                                        <div class="card card-text p-2 px-3 m-1 d-inline-block">
                                            {{ curr_message.sending_user.first_name }} {{ curr_message.sending_user.last_name|slice:":1" }}. : {{ curr_message.message }}
                                        </div>
                                        <div class="position-relative avatar">
                                            <img src="{{ curr_message.thread.first_user_image_url }}" class="img-fluid rounded-circle" alt="image">
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="d-flex sent-by-client">
                                        <div class="card card-text p-2 px-3 m-1 d-inline-block">
                                            {{ curr_message.sending_user.first_name }} {{ curr_message.sending_user.last_name|slice:":1" }}. : {{ curr_message.message }}
                                        </div>
                                        <div class="position-relative avatar">
                                            <img src="{{ curr_message.thread.second_user_image_url }}" class="img-fluid rounded-circle" alt="image">
                                        </div>
                                    </div>
                            <!-- End inner if statement, continue outer if statement -->
                            {% endif %}
                        {% else %}
                            {% if curr_message.thread.first_user == curr_message.sending_user %}
                                <div class="d-flex sent-to-client">
                                    <div class="position-relative avatar">
                                        <img src="{{ curr_message.thread.first_user_image_url }}" class="img-fluid rounded-circle" alt="image">
                                    </div>
                                    <div class="card card-text p-2 px-3 m-1 d-inline-block">
                                        {{ curr_message.sending_user.first_name }} {{ curr_message.sending_user.last_name|slice:":1" }}. : {{ curr_message.message }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex sent-to-client">
                                    <div class="position-relative avatar">
                                        <img src="{{ curr_message.thread.second_user_image_url }}" class="img-fluid rounded-circle" alt="image">
                                    </div>
                                    <div class="card card-text p-2 px-3 m-1 d-inline-block">
                                        {{ curr_message.sending_user.first_name }} {{ curr_message.sending_user.last_name|slice:":1" }}. : {{ curr_message.message }}
                                    </div>
                                </div>
                            {% endif %}
                        <!-- End inner if statement, end outer if statement -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row" id="chat-row-send">
                <div class="col d-flex bg-info-subtle justify-content-between" id="chat-col-input">
                    <input class="flex-grow-1" id="chat-message-input" type="text"><br>
                    <button class="btn-primary" id="chat-message-submit" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    let jsonData = {{ dump|safe }}

    let threadId = jsonData["thread_id"];
    let selfUserId = jsonData["self_user_id"];
    let otherUserId = jsonData["other_user_id"];
    let senderUrl = jsonData["sender_image_url"];
    let receiverUrl = jsonData["receiver_image_url"];
    let chatLog = document.querySelector('#chat-log');
    console.log("Sender URL: ");
    console.log(senderUrl);
    console.log("Receiver URL: ");
    console.log(receiverUrl);
    let url = `ws://${window.location.host}/ws/socket-server/${threadId}`;

    let chatSocket = new WebSocket(url);

    chatSocket.onopen = function(e) {
        console.log('open', e);
    }

    chatSocket.onmessage = function(e) {
        console.log('message', e);
        let data = JSON.parse(e.data);
        console.log(data)
        let concatMessage = "";
        console.log(senderUrl)
        let toInsert = ``;
        if (data.type === 'chat') {
            console.log(data.message);
            user = data.user_name.concat(": ");
            concatMessage += data.first_name + " " + data.last_initial + ". : " + data.message;
            console.log("concat - " + concatMessage);
            console.log(`Sent by: ${selfUserId}; data.sent_by: ${data.sent_by}`);
            if (selfUserId === data.sent_by) {
            toInsert = `
               <div class="d-flex sent-by-client">
                    <div class="card card-text p-2 px-3 m-1 d-inline-block">
                        ${concatMessage}
                    </div>
                    <div class="position-relative avatar">
                        <img src=${data.sender_image_url} class="img-fluid rounded-circle" alt="">
                    </div>
                </div>
             `;
            } else {
                toInsert = `
                   <div class="d-flex sent-to-client">
                        <div class="position-relative avatar">
                            <img src = ${data.sender_image_url} class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="card card-text p-2 px-3 m-1 d-inline-block">
                            ${concatMessage}
                        </div>
                    </div>
                `;
            }
            chatLog.insertAdjacentHTML('beforeend', toInsert);
        }
    }

    chatSocket.onerror = function(e) {
        console.error('error', e);
    }

    chatSocket.onclose = function(e) {
        console.log('close', e);
    }

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'sent_by': selfUserId,
            'thread_id': threadId,
            'send_to': otherUserId
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock content %}