{% extends 'home_default/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center" id="chat-area-row">
        <div class="col">
            <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        </div>
    </div>
    <div class="row justify-content-center" id="input-area-row">
        <div class="col">
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
            <input id="uid" type="hidden" value="{{ request.user.id }}">
        </div>
    </div>
</div>

<script src="{% static 'messageRoom.js' %}" type="text/javascript"></script>

{% endblock content %}