{% extends 'home_default/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div id="chat-threads-list">
                <ul>
                {% for thread in threads %}
                   {% if thread.first_user.username == request.user %}
                       <li class="chat-logs" chat-id="chat_{{ thread.id }}" other-user-id="{{ thread.second_user.id }}">
                           Chat with {{ thread.second_user.username }}
                       </li>
                   {% else %}
                       <li class="chat-logs" chat-id="chat_{{ thread.id }}" other-user-id="{{ thread.first_user.id }}">
                           Chat with {{ thread.first_user.username }}
                       </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div id="messages-wrapper">

            </div>
        </div>
    </div>
</div>

<script src="{% static 'messageRoom.js' %}" type="text/javascript"></script>

{% endblock content %}