{% extends 'home_default/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div id="chat-threads-list">
                <ul>
                {% for thread in threads %}
                   {% if thread.first_user.username == request.user %}
                            <script>
                                console.log("Chat with second user");
                            </script>
                           <a href="{% url 'messages_page' thread_id=thread.id other_user_id=thread.first_user.id %}" class="chat-logs-links" id="chat_link_{{ thread.id }}">
                               Chat with {{ thread.second_user.username }}
                           </a>
                   {% else %}
                           <a class="chat-logs-links" id="chat_link_{{ thread.id }}" href="{% url 'chat:messages_page' thread_id=thread.id other_user_id=thread.first_user.id %}">
                                Chat with {{ thread.first_user.username }}
                           </a>
                            <script>
                                console.log("Chat with first user");
                            </script>
                   {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}