{% extends 'home_default/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div id="chat-threads-list">
                {% for thread in threads %}
                   {% if thread.first_user == request.user %}
                       <a href="{% url 'chat:messages_page' thread_id=thread.id other_user_id=thread.second_user.id %}" class="chat-logs-links" id="chat_link_{{ thread.id }}">
                           Chat with {{ thread.second_user.username }}
                       </a>
                   {% else %}
                       <a href="{% url 'chat:messages_page' thread_id=thread.id other_user_id=thread.first_user.id %}" class="chat-logs-links" id="chat_link_{{ thread.id }}">
                           Chat with {{ thread.first_user.username }}
                       </a>
                   {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}