{% extends "home_default/base.html" %}
{% load user_profile_custom_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Your Matches:</h1>
        {% if match_users %}
            <div class="container">
                <div class="row justify-content-start">
                    {% for match_user in match_users %}
                        <div class="col-md-3">
                            <div class="card my-3">
                                {% if match_user.image %}
                                    <img class="card-img-top" src="{{ match_user.image }}" alt="image">
                                {% else %}
                                    <img class="card-img-top" src="/media/default_avatar.png" alt="image">
                                {% endif %}
                                <div class="card-body">
                                    <h4><i>{{ match_user.user.first_name }} {{ match_user.user.last_name|slice:":1" }}.</i></h4>
                                <div>
                                <a href="{% url 'user_profile:detail_profile' id=match_user.user.id %}" class="btn btn-primary">View Profile </a>
                                </div>
                                <br>
                                <div>
                                <a href="{% url 'chat:threads_page' %}" class="btn btn-primary"> Chat With </a>
                                </div>
                                <br>
                                    <form action="{% url 'matching:unmatch' utrip_id=utrip_id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="other_uid" value="{{ match_user.user.id }}">
                                        <button type="submit" class="btn btn-rounded btn-danger">Unmatch</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h2>Oops! Sorry! No matches currently</h2>
        {% endif %}
    </div>

{% endblock content %}