{% extends "home_default/base.html" %}
{% block content %}
<div class="container">
    <h1>Your Pending Matching Requests:</h1>
    {% if pending_matches %}
        {% for pending_match in pending_matches %}
            <div class="col-3">
                <div class="row-gap-3">
                    <h4><i>{{ pending_match.sender.first_name }} {{ pending_match.sender.last_name|slice:":1" }}.</i></h4>
                    <div>
                        <a href="{% url 'user_profile:detail_profile' id=matching_user.user.id %}" class="btn btn-primary">View Profile </a>
                    </div>
                    <br>
                </div>
                <div>
                    <form action="{% url 'matching:react_request' utrip_id=utrip_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sender_utrip_id" value="{{ pending_match.sender_user_trip.id }}">
                        <input type="hidden" name="sender_id" value="{{ pending_match.sender.id }}">
                        <button
                                type="submit"
                                name="pending_request"
                                value="Matched"
                                class="btn btn-rounded btn-info">
                            Match
                        </button>
                        <button
                                type="submit"
                                name="pending_request"
                                value="Rejected"
                                class="btn btn-rounded btn-danger">
                            Reject
                        </button>
                    </form>
                </div>
                <br><br>
            </div>
        {% endfor %}
    {% else %}
        <h2>Sorry, no pending requests as of this point, try sometime later.</h2>
    {% endif %}
</div>


{% endblock content %}