{% extends "home_default/base.html" %}
{% load user_profile_custom_tags %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Your Pending Matching Requests:</h1>
    {% if pending_matches %}
    <div class="container">
        <div class="row justify-content-start">
            {% for pending_match in pending_matches %}
            <div class="col-md-3">
                <div class="card my-3">
                    {% if pending_match.image %}
                    <img class="card-img-top" src="{{ pending_match.image }}" alt="image">
                    {% else %}
                    <img class="card-img-top" src="/media/default_avatar.png" alt="image">
                    {% endif %}
                    <div class="card-body">
                        <div class="card-title">
                            <h4>
                                <i>{{ pending_match.sender.first_name }} {{ pending_match.sender.last_name|slice:":1" }}.</i>
                            </h4>
                        </div>
                        <br>

                            <form action="{% url 'matching:react_request' utrip_id=utrip_id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="sender_utrip_id"
                                       value="{{ pending_match.sender_user_trip.id }}">
                                <input type="hidden" name="sender_id" value="{{ pending_match.sender.id }}">

                                <div class="d-flex justify-content-between">
                                 <button type="submit" name="pending_request" value="Rejected"
                                        class="btn btn-rounded btn-danger">
                                    Reject
                                </button>
                                <div>
                                    <a href="{% url 'user_profile:detail_profile' id=pending_match.sender.id %}"
                                       class="btn btn-primary">View Profile </a>
                                </div>
                                <button type="submit" name="pending_request" value="Matched"
                                        class="btn btn-rounded btn-info">
                                    Match
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h2>Sorry, no pending requests as of this point, try sometime later.</h2>
{% endif %}
</div>


{% endblock content %}