{
 "container_commands" : {
    "01_migration": {
        "command" : "source /var/app/venv/*/bin/activate && python manage.py makemigrations",
         "leader_only": true
    },
    "02_migration": {
        "command" : "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput",
        "leader_only": true
    },
    "03_collect_static": {
        "command" : "source /var/app/venv/*/bin/activate && python manage.py collectstatic",
         "leader_only": true
    }
 }
}