option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: soloconnect.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    WSGIPath: soloconnect/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static