.bg-sc-teal-1 {
    background-color: #0088AA;
}

.bg-sc-teal-2 {
    background-color: #00718D;
}

.bg-sc-teal-3 {
    background-color: #005970;
}

.bg-sc-teal-4 {
    background-color: #004253;
}

.bg-sc-teal-5 {
    background-color: #002B36;
}

.bg-sc-grey-1 {
    background-color: #ACB2C8;
}

.bg-sc-grey-2 {
    background-color: #9499AC;
}

.bg-sc-grey-3 {
    background-color: #7A7E8E;
}

.bg-sc-grey-4 {
    background-color: #3A3A4F;
}

.bg-sc-grey-5 {
    background-color: #252532;
}

.bg-sc-grey-2-5 {
    background-color: #3C3C45;
}

.bg-sc-grey-2-4 {
    background-color: #555562;
}

.bg-sc-grey-2-3 {
    background-color: #6E6E7E;
}

.bg-sc-grey-2-2 {
    background-color: #88889D;
}

.bg-sc-grey-2-1 {
    background-color: #A1A1B9;
}

.bg-sc-ocher-1 {
    background-color: #D29E00;
}

.bg-sc-ocher-2 {
    background-color: #B48700;
}

.bg-sc-ocher-3 {
    background-color: #7B5C00;
}

.bg-sc-ocher-4 {
    background-color: #5E4600;
}

.bg-sc-ocher-5 {
    background-color: #231B00;
}