<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>SoloConnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="{% static 'home_default/site_images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home_default/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'home_default/css/sc-custom-colors.css' %}" />
</head>
<body>
<header>
    {% if user.is_authenticated %}
    <nav class = "navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <!-- We can add a logo for solo connect here-->
            <a class ="navbar-brand" href="{% url 'home_default:home_page' %}">
                <img src="{% static 'home_default/site_images/sc-logo-main-cropped.png' %}" height="55" width="55" alt="SoloConnect Logo">
            </a>
            <button class = "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class = "collapse navbar-collapse" id = "navbarCollapse">
                <ul class = "nav navbar-nav mr-auto">
                    <li class ="nav-item">
                        <a class="nav-link active" href="{% url 'home_default:home_page' %}">Home</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link active" href="{% url 'user_profile:view_profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'trip:view_trips' %}">View Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'trip:create_trip' %}">Plan a Trip</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link active" href="{% url 'chat:threads_page' %}">Chat</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link active" href="{% url 'user_profile:logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class = "navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <!-- We can add a logo for solo connect here-->
            <a href="{% url 'home_default:home_page' %}">
                <img src="{% static 'home_default/site_images/sc-logo-main-cropped.png' %}" alt="SoloConnect Logo" height="55" width="55">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class = "collapse navbar-collapse" id = "navbarCollapse2">
                <ul class = "nav navbar-nav mr-auto">
                    <li class ="nav-item px-3">
                        <a class="nav-link active" href="{% url 'home_default:home_page' %}">Home</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link active" href="{% url 'user_profile:login' %}">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
<!-- Messages section -->
</header>
<br>
<div class = "container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <p class="mb-0">{{ message }}</p>
                </div>
            {% elif message.tags == "error" %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <p class="mb-0">{{ message }}</p>
                </div>
            {% else %}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <p class="mb-0">{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% block content %}
{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>